.content .wrapper{
    padding: 1em 0 1em 0;
}
.home-template .content .wrapper{
    padding: 0 0 1em 0;
}
/* --- NAV MENU ----*/
.accordion-menu input[type=checkbox]{
    position: absolute;
    opacity: 0;
}
.accordion-menu label, .accordion-menu a{
    display: block;
    color: #ffffff;
}
.accordion-menu label{
    display: block;
    padding: .6rem 4%;
    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
}

.accordion-menu label::after{
    content: '';
    background-image: url('/user/themes/masonry/images/user/arrow.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 12px;
    left: 12px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.accordion-menu label::after {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}
.accordion-menu label.open::after {
    /* arrow icon */
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.accordion-menu .has-children ul {
    padding: 5px 0 5px 20px;
    display: none;
}


.accordion-menu .has-children{
    background-color: #272727;
    border-radius: 5px;
    cursor: pointer;
}
.accordion-menu input[type=checkbox]:checked + label + ul,
.accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.nav ul {
    padding: 77px 3% 5%;
} 

.text-center{text-align: center}
.site-wrapper{
    overflow: hidden;
}
.insta-icon{    
    width: 22%;
    position: relative;
    top: 22px;
    }
.instagram-wrapper{
    position: absolute;
}
.instagram-wrapper li::before{
    display: none;
}
.instagram-wrapper img{
    width: 45%;
    filter: opacity(0.8);
    margin: 10px;
}
.poweredby iframe{
    position: absolute;
    right: 0;
}
.subscribe-button{
    margin: 0 20px 0 10px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 15px;
}
.subscribe-button a{
    color: #000!important;
    text-decoration: none;
    font-size: 15px;
}
.link-subscribe{
    color: #000;
    font-size: 14px;
    bottom: 1px;
    position: absolute;
    left: 0;
    text-decoration: none;
    }

.subscribe-button:hover {
    box-shadow: none;
    background: #fff;
}
.archive-plus li {
    border-bottom: 0;
    line-height: 3rem;
}
.nav-article {
    margin-left: 10px;
}
.main-header .inner {
     padding-top: 50px;
}
.nav li:before {
    content: counter(a);
}
.nav li:before:last-child{
    display: none;
}
.blog-logo img{
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
}
.post-content img { max-width: 100%;}
.main-header .header-image{
    position: absolute;
    width: 100%;
    left: 0;
    top:150px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
}
.main-header.home .header-image {
    top: 0;
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
}
body.nav-opened .nav-cover {
    right: 546px;
}
@media screen and (max-width:500px) {
    body.nav-opened .site-wrapper{
        transform: translate3d(-293px,0,0);
        -webkit-transform: translate3d(-293px,0,0);
    }
    .nav{width:293px;}
}
@media screen and (min-width: 500px) {
    .nav{
        width: 550px;
        overflow: hidden;
    }
    body.nav-opened .site-wrapper {
        -webkit-transform: translate3D(-548px,0,0);
        transform: translate3D(-548px,0,0);
    }
    .blog-logo img {
        height: 90px;
    }
  }
  @media screen and (max-width: 500px) {
    .subscribe-button a{
        font-size: 10px;
    }
    .instagram-wrapper img {
        width: 40%;
    }
   .main-header .header-image{
    -webkit-transform: translateY(-45%) translateX(-40%);
    transform: translateY(-45%) translateX(-28%);
   }
  }

  @media screen and (max-width: 1630px) and (min-width:1024px) {
   
  }
  
  @media screen and (max-width: 1024px) {
    .main-header .header-image{
        width: unset;
        height: 140%;
    }
    .scroll-down{
        display: block;
    }
  }
  @supports (-ms-ime-align: auto) {
    /* Microsoft EdgeV13&14 CSS styles go here */
 
    @media screen and (max-width:1024px) {
        .content .wrapper {
            padding: 0;
        }
        
    }
    
    .content{
        background-color: #fff;
        position: relative;
    }
    
    @media screen and (max-width: 900px){
        .main-header .header-image{
            width: 100%;
            height: unset;
        }
        .content .wrapper {
            padding: 1em 0 1em 0;
        }
    }
  }
  