.content .wrapper{
    padding: 1em 0 1em 0;
}
.site-wrapper{
    overflow: hidden;
}
.insta-icon{    
    width: 22%;
    position: relative;
    top: 22px;
    }
.instagram-wrapper{
    position: absolute;
}
.instagram-wrapper li::before{
    display: none;
}
.instagram-wrapper img{
    width: 45%;
    filter: opacity(0.8);
    margin: 10px;
}
.poweredby iframe{
    position: absolute;
    right: 0;
}
.subscribe-button{
    padding:0;
}
.subscribe-button a{
    color: #000!important;
    text-decoration: none;
    font-size: 15px;
}
.link-subscribe{
    color: #000;
    font-size: 14px;
    bottom: 1px;
    position: absolute;
    left: 0;
    text-decoration: none;
    }

.subscribe-button:hover {
    box-shadow: none;
    background: #fff;
}
.archive-plus li {
    border-bottom: 0;
    line-height: 3rem;
}
.nav-article {
    margin-left: 10px;
}
.main-header .inner {
     padding-top: 50px;
}
.nav li:before {
    content: counter(a);
}
.nav li:before:last-child{
    display: none;
}
.blog-logo img{
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
}
.post-content img { max-width: 100%;}
.main-header .header-image{
    position: absolute;
    width: 100%;
    left: 0;
    top:150px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
}
.main-header.home .header-image {
    top: 0;
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
}
body.nav-opened .nav-cover {
    right: 450px;
}
@media screen and (min-width: 500px) {
    .nav{
        width: 450px;
        overflow: hidden;
    }
    body.nav-opened .site-wrapper {
        -webkit-transform: translate3D(-448px,0,0);
        transform: translate3D(-448px,0,0);
    }
    .blog-logo img {
        height: 90px;
    }
  }
  @media screen and (max-width: 500px) {
    .subscribe-button a{
        font-size: 10px;
    }
    .instagram-wrapper img {
        width: 40%;
    }
   .main-header .header-image{
    -webkit-transform: translateY(-45%) translateX(-40%);
    transform: translateY(-45%) translateX(-28%);
   }
  }

  @media screen and (max-width: 1380px) and (min-width:900px) {
    .home.main-header{
        height:68vh;
    }
  }
  
  @media screen and (max-width: 900px) {
    .main-header .header-image{
        width: unset;
        height: 140%;
    }
    .scroll-down{
        display: block;
    }
  }
  @supports (-ms-ime-align: auto) {
    /* Microsoft EdgeV13&14 CSS styles go here */
    @media screen and (max-width: 1380px) and (min-width:900px) {
        .main-header.home{
            height: 55vh;
        }
        #content {
            position: relative;
            top: 100px;
        }
        
      }
    @media screen and (max-width:1024px) {
        .content .wrapper {
            padding: 0;
        }
        
    }
    
    @media screen and (min-width: 1381px){
        #content {
            position: relative;
            top: 200px;
        }
    }

    .content{
        background-color: #fff;
        position: relative;
    }
    
    @media screen and (max-width: 900px){
        .main-header .header-image{
            width: 100%;
            height: unset;
        }
        .content .wrapper {
            padding: 1em 0 1em 0;
        }
    }
  }